

h1, h2, p, ul {
	text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
  background: #39e9e0;
}
body{
background-image: url(../img/Cheeseburger.png);
background-size: cover;
opacity: 0.8;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
  color: #39e9e0;
}

#eatenbuger{
  margin-left: 20pc;
}
h3, h2,h1 {
  color: #39e9e0;
}